<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import "./assets/variables";
  @import "~bootstrap/scss/bootstrap-reboot";
  @import "~bootstrap/scss/utilities";
  @import "~bootstrap/scss/grid";
  @import "~bootstrap/scss/forms";
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/pagination";
  @import "~bootstrap/scss/card";

  @import "./assets/style.scss";
</style>
