<template>
  <section>
    <div class="daily-rate row">
      <h2 class="col-12">Суточная норма</h2>
      <div class="col">
        <p>Белки: {{ proteins }} г</p>
        <p>Жиры: {{ fats }} г</p>
        <p>Углеводы: {{ carbo }} г</p>
      </div>
      <div class="col">
        <p>{{ power }} ккал</p>
      </div>
    </div>
    <hr>
    <div class="products-page">
      <h2>Продукты на неделю</h2>
      <div class="row">
        <div class="btn-group col-2">
          <button class="btn btn-primary active">
            <i></i>
            <span>grid</span>
          </button>
          <button class="btn btn-primary">
            <i></i>
            <span>list</span>
          </button>
        </div>
        <pagination
                class="col"
                :page-count="pagesProducts"
                :prev-text="'&laquo'"
                :next-text="'&raquo'"
                :click-handler="changePage"
                :container-class="'pagination'"
                :prev-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-class="'page-item'"
                :next-link-class="'page-link'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                v-bind:forcePage="currentPage"
        ></pagination>
        <div class="col-3">
          <button class="btn btn-warning"
                  @click="recalc"
                  v-if="changesProduct"
          >Пересчитать</button>
          <button class="btn btn-primary"
                  @click="getRecipes"
          >Рецепты</button>
        </div>
      </div>
      <hr>
      <ul class="row">
        <li class="col-3"
            v-for="product in products"
            :key="product.id"
        >
          <card :item="product"></card>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
  import Pagination from '../Utilites/Paginate';
  import Card from '../Utilites/CardProduct';
  import {mapGetters} from 'vuex';

  export default {
    name: "EnergyProducts",
    components: {
      Pagination,
      Card
    },
    data:() => ({
      currentPage: null
    }),
    computed: {
      ...mapGetters('products', {
        products: 'products',
        proteins: 'proteins',
        fats: 'fats',
        carbo: 'carbo',
        power: 'power',
        pagesProducts: 'pagesProducts',
        notEat: "notEatId",
        changesProduct: 'changesProduct'
      })
    },
    methods: {
      changePage(val) {
        this.$router.push({path: '/', query: {p_page: val}});
      },
      getRecipes() {
        this.$store.dispatch('recipes/getRecipes', {notEat:this.notEat, page: 1});
      },
      recalc() {
        this.$store.commit('products/setOldNotEat');
        this.$router.push({path: '/', query: {p_page: 1}});
      }
    },
    watch: {
      '$route' (to, from) {
        this.currentPage = parseInt(this.$route.query.p_page) || 1;
        this.$store.dispatch('products/getProducts', to.query.p_page);
      }
    },
    mounted() {
      this.currentPage = parseInt(this.$route.query.p_page) || 1;
    }
  }
</script>

<style scoped>

</style>