<template>
  <section class="row">
    <form class="col-md-4">
      <div class="form-group row align-items-center justify-content-center">
        <label for="userHeight" class="col-5 mb-0">Рост (см)</label>
        <input type="number"
               class="form-control col"
               :class="{'border-danger': !!errors.userHeight}"
               id="userHeight"
               v-model.number="userHeight">
        <small class="form-text text-danger" v-show="!!errors.userHeight">{{errors.userHeight}}</small>
      </div>
      <div class="form-group row align-items-center">
        <label for="userWeight" class="col-5 mb-0">Вес (кг)</label>
        <input type="number"
               class="form-control col"
               :class="{'border-danger': !!errors.userWeight}"
               id="userWeight"
               v-model.number="userWeight">
        <small class="form-text text-danger" v-show="!!errors.userWeight">{{errors.userWeight}}</small>
      </div>
      <div class="form-group row align-items-center">
        <label for="userAge" class="col-5 mb-0">Возраст (лет)</label>
        <input type="number"
               class="form-control col"
               :class="{'border-danger': !!errors.userAge}"
               id="userAge"
               v-model.number="userAge">
        <small class="form-text text-danger" v-show="!!errors.userAge">{{errors.userAge}}</small>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="inlineRadioOptions" id="genderRadio1"
               :value="true"
               v-model="gender">
        <label class="form-check-label" for="genderRadio1">М</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="inlineRadioOptions" id="genderRadio2"
               :value="false"
               v-model="gender">
        <label class="form-check-label" for="genderRadio2">Ж</label>
      </div>
      <button type="submit"
              class="btn btn-primary mx-auto"
              @click.prevent="submit"
      >Submit</button>
    </form>
  </section>
</template>

<script>
  let log = console.log;

    export default {
      name: "HeadForm",
      data: () => ({
        userHeight: '',
        userWeight: '',
        userAge: '',
        gender: true,
        errors: {
          userHeight: null,
          userWeight: null,
          userAge: null
        }
      }),
      methods: {
        submit() {
          if(this.checkForm()) {
            this.$store.dispatch('products/getGeneral', {
              height: this.userHeight,
              weight: this.userWeight,
              age: this.userAge,
              gender: this.gender
            });
            if(this.$route.query.p_page) this.$router.push('/');
          }
        },
        checkForm() {
          for(let key in this.errors) {
            this.errors[key] = null;
          }
          this.validateNumber('userHeight');
          this.validateNumber('userWeight');
          this.validateNumber('userAge');
          this.validateHeight();
          this.validateWeight();
          this.validateAge();

          for(let key in this.errors) {
            if(this.errors[key] !== null) {
              return false;
            }
          }
          return true;
        },
        validateNumber(key) {
          if(isNaN(this[key]) || this[key] === '') {
            this.errors[key] = 'Пожалуйста, заполните это поле адекватным числом';
          }
        },
        validateHeight() {
          if(this.errors.userHeight === null) {
            if(this.userHeight < 50) this.errors.userHeight = 'Не думал, что лилипуты реальны...';
            if(this.userHeight > 250) this.errors.userHeight = 'Фигасе! *смотрит снизу вверх* Не зря купил те бобы';
          }
        },
        validateWeight() {
          if(this.errors.userWeight === null) {
            if(this.userWeight < 20) this.errors.userWeight = 'Попробуйте взвеситься с якорем (который, очевидно, должен быть всегда при Вас...';
            if(this.userWeight > 500) this.errors.userWeight = 'Да ну нееееее, не может такого быть! Ни в жизнь не поверю!';
          }
        },
        validateAge() {
          if(this.errors.userAge === null) {
            if(this.userAge < 12) this.errors.userAge = 'Вам рановато участвовать в этом, извините...';
            if(this.userAge > 120) this.errors.userAge = 'Как вы вообще попали на эту страницу? Неужели Вам всё-таки нужон ентот наш йинтернет?';
          }
        }
      }
    }
</script>

<style scoped lang="scss">

</style>