<template>
  <section>
    <h3 class="text-center">Рецепты</h3>
    <ul class="recipes row" v-scroll="onScroll">
      <router-link class="col-3"
                   v-for="recipe in list"
                   :key="recipe.id"
                   :to="`/recipe/${recipe.id}`"
                   tag="li"
      >
        <div class="card">
          <img src="../../assets/grecha.jpg" :alt="recipe.title" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">{{ recipe.id }}. {{ recipe.title }}</h5>
            <p class="card-text" v-if="recipe.descr">{{ recipe.descr }}</p>
            <h6 class="card-text" v-if="recipe.time">
              <span class="small">Время готовки:</span>
              {{ recipe.time }}
            </h6>
          </div>
        </div>
      </router-link>
    </ul>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "RecipesList",
    computed: {
      ...mapGetters('recipes', {
        list: 'list',
        loading: 'loading',
        moreRecipes: 'moreRecipes'
      }),
      ...mapGetters('products', {
        notEat: 'notEatId'
      })
    },
    methods: {
      onScroll() {
        if(this.moreRecipes) {
          let clientHeight = document.documentElement.clientHeight;
          let diffHeight = document.body.offsetHeight - clientHeight;
          let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if(scrollTop >= diffHeight && !this.loading) {
            this.$store.dispatch('recipes/getRecipes', this.notEat);
          }
        }
      }
    }
  }
</script>

<style scoped>
  .card {
    cursor: pointer;
  }
</style>