<template>
  <div class="container">
    <h1>Калькулятор еды на НЕДЕЛЮ!</h1>
    <hr>
    <head-form></head-form>
    <hr>
    <energy-products v-if="hasProducts"></energy-products>
    <hr>
    <recipes-list v-if="hasRecipes"></recipes-list>
  </div>
</template>

<script>
// ~ in an alias to /node-modules
import HeadForm from '../components/Home/HeadForm'
import EnergyProducts from '../components/Home/EnergyProducts'
import RecipesList from '../components/Home/RecipesList'

export default {
  name: 'Home',
  components: {
    HeadForm,
    EnergyProducts,
    RecipesList
  },
  computed: {
    hasProducts() {
      return !!this.$store.getters['products/products'].length;
    },
    hasRecipes() {
      return !!this.$store.getters['recipes/list'].length;
    }
  }
}
</script>
