<template>
  <section v-if="!loading">
    <h1>{{ recipe.title }}</h1>
    <div class="row">
      <div class="col">
        <img :src="recipe.img || '../assets/grecha.jpg'" :alt="recipe.title">
      </div>
      <div class="col">
        {{ recipe.descr }}
      </div>
    </div>
    <hr>
    <h2>Ингридиенты</h2>
    <ul>
      <li v-for="(item, index) in recipe.ingrigients" :key="index">
        {{ item.title }} :: {{ item.value }}
      </li>
    </ul>
    <hr>
    <h2>Приготовление</h2>
    <ul>
      <li v-for="(item, index) in recipe.steps" :key="index">
        <img :src="item.img || '../assets/grecha.jpg'" :alt="index + 1" >
        <span>{{ item.descr }}</span>
        ::
        <span>{{ item.time }}</span>
      </li>
    </ul>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "Recipe",
    props: ['id'],
    computed: {
      ...mapGetters('recipes', {
        recipe: 'recipe',
        loading: 'loading'
      })
    },
    created() {
      this.$store.dispatch('recipes/getOneRecipe', this.id);
    }
  }
</script>

<style scoped>
  section {
    height: 300vh;
  }
</style>