<template>
  <div class="card">
    <img src="../../assets/grecha.jpg" :alt="item.title" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title text-center">{{ item.title }}</h5>
      <p class="card-text" v-if="item.descr">{{ item.descr }}</p>
      <div class="row">
        <div class="col">
          Всего:
          <span>{{ item.weight || '--' }}кг</span>
        </div>
        <div class="col">
          <button class="btn btn-danger"
                  v-if="uneatable.indexOf(item.id) === -1"
                  @click="notEatIt"
          >Не ем</button>
          <button class="btn btn-warning"
                  v-else
                  @click="eatIt"
          >Ем</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Card",
    props: ['item'],
    computed: {
      uneatable() {
        return this.$store.getters['products/notEatId'];
      }
    },
    methods: {
      notEatIt() {
        this.$store.dispatch('products/notEatIt', this.item.id);
      },
      eatIt(){
        this.$store.dispatch('products/eatIt', this.item.id);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .card {
    height: 100%;
    .card-body {
      display: flex;
      flex-direction: column;
    }
    .row {
      margin-top: auto;
    }
  }
</style>